<!DOCTYPE HTML>
<html>

<head>
    <title>Bienvenue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p th:text="'Hello, ' + ${name}"></p>
    <table style="width:80%" border="1" class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="jour:${jour}">
                <td th:text="${jour.id}"></td>
                <td th:text="${jour.jour}"></td>
            </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/greeting}" method="post">
    	<p>Id: <input type="text"  /></p>
        <p>Message: <input type="text"  /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>

</html>